* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chiroq {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 230px;
    background-color: black;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;
    justify-content: space-between;
    padding: 10px;
}

.ranglar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

.red {
    background-color: rgb(240, 99, 99);
    animation: red 10s linear;
}

@keyframes red {
    0% {
        background-color: red;
    }

    10% {
        background-color: red;
    }

    20% {
        background-color: red;
    }

    30% {
        background-color: rgb(240, 99, 99);
    }

    40% {
        background-color: rgb(240, 99, 99);
    }

    45% {
        background-color: rgb(240, 99, 99);
    }

    50% {
        background-color: rgb(240, 99, 99);
    }

    55% {
        background-color: rgb(240, 99, 99);
    }

    60% {
        background-color: red;
    }

    65% {
        background-color: red;
    }

    70% {
        background-color: red;
    }

    75% {
        background-color: red;
    }

    80% {
        background-color: red;
    }

    85% {
        background-color: rgb(240, 99, 99);;
    }

    90% {
        background-color: rgb(240, 99, 99);;
    }

    95% {
        background-color: rgb(240, 99, 99);;
    }

    100% {
        background-color: rgb(240, 99, 99);;
    }
}

.yellow {
    background-color: rgb(254, 254, 134);
    animation: yellow 10s linear;
}

@keyframes yellow {
    0% {
        background-color: rgb(254, 254, 152);
    }

    10% {
        background-color: rgb(254, 254, 152);
    }

    20% {
        background-color: rgb(254, 254, 152);
    }

    30% {
        background-color: yellow;
    }

    40% {
        background-color: yellow;
    }

    45% {
        background-color: rgb(254, 254, 152);
    }

    50% {
        background-color: rgb(254, 254, 152);
    }

    55% {
        background-color: rgb(254, 254, 152);
    }

    60% {
        background-color: rgb(254, 254, 152);
    }

    65% {
        background-color: rgb(254, 254, 152);
    }

    70% {
        background-color: rgb(254, 254, 152);
    }

    75% {
        background-color: rgb(254, 254, 152);
    }

    80% {
        background-color: rgb(254, 254, 152);
    }

    85% {
        background-color: yellow;
    }

    90% {
        background-color: yellow;
    }

    95% {
        background-color: rgb(254, 254, 152);
    }

    100% {
        background-color: rgb(254, 254, 152);
    }
}

.green {
    background-color: green;
    animation: green 10s linear;
}

@keyframes green {
    0% {
        background-color: rgb(127, 224, 127);
    }

    10% {
        background-color: rgb(127, 224, 127);
    }

    20% {
        background-color: rgb(127, 224, 127);
    }

    30% {
        background-color: rgb(127, 224, 127);
    }

    35% {
        background-color: rgb(127, 224, 127);
    }

    40% {
        background-color: rgb(127, 224, 127);
    }

    45% {
        background-color: green;
    }

    50% {
        background-color: green;
    }

    55% {
        background-color: green;
    }

    60% {
        background-color: rgb(127, 224, 127);
    }

    65% {
        background-color: rgb(127, 224, 127);
    }

    70% {
        background-color: rgb(127, 224, 127);
    }
    75% {
        background-color: rgb(127, 224, 127);
    }
    80% {
        background-color: rgb(127, 224, 127);
    }
    85% {
        background-color: rgb(127, 224, 127);
    }
    90% {
        background-color: rgb(127, 224, 127);
    }
    95% {
        background-color: rgb(12, 113, 12);
    }
    100% {
        background-color: rgb(12, 113, 12);
    }






}

.stoyka {
    width: 40px;
    height: 250px;
    background-color: rgb(143, 141, 141);
    margin: 0 auto;
}

.yol {
    width: 1550px;
    height: 20px;
    background-color: rgb(44, 42, 42);
}

.car {
    position: absolute;
    width: 300px;
    margin-top: 392px;
    animation: car 10s linear;
}

@keyframes car {
    0%{
        margin-left: 0px;
    }
    10%{
        margin-left: 0px;
    }
    20%{
        margin-left: 0px;
    }
    30%{
        margin-left: 0px;
    }
    40%{
        margin-left: 0px;
    }
    50%{
        margin-left: 0px;
    }

    60%{
        margin-left: 400px;
    }

    65%{
        margin-left: 400px;
    }

    70%{
        margin-left: 400px;
    }

    75%{
        margin-left: 400px;
    }

    80%{
        margin-left: 400px;
    }

    85%{
        margin-left: 400px;
    }

    90%{
        margin-left: 400px;
    }

    95%{
        margin-left: 400px;
    }

    100%{
        margin-left: 1280px;
    }


}